<h1>Welcome to S3 Web Console!</h1>

<%= link_to 'Begin...', buckets_path %>

<!-- <table class="table table-bordered">
  <tr>
    <th>Type</th>
    <th>Value</th>
  </tr>

  <tr>
    <td>User Name</td>
    <td><%= session[:username] %></td>
  </tr>
  <tr>
    <td>User Id</td>
    <td><%= session[:userid] %></td>
  </tr>
  <tr>
    <td>Account Id</td>
    <td><%= session[:accountid] %></td>
  </tr>
  <tr>
    <td>Account Id</td>
    <td><%= session[:accountid] %></td>
  </tr>
  <tr>
    <td>Access Key</td>
    <td><%= session[:access_key] %></td>
  </tr>
  <tr>
    <td>Secret Key</td>
    <td><%= session[:secret_key] %></td>
  </tr>
  <tr>
    <td>Access Token</td>
    <td><%= session[:access_token] %></td>
  </tr>
</table> -->
