<h1 class="text-center">Create Bucket</h1>

<%= form_for :bucket, url: buckets_path do |f| %>
  <p>
    <%= f.label 'Name', :class => "text-info" %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit 'Save Bucket', :class => 'btn btn-primary btn-xs' %>
  </p>
<% end %>

<%= link_to 'Back', buckets_path %>
