<h1 class="text-center">Upload Object</h1>

<script>
  $(function() {
    $("input[type=file]").on('change',function(){
     $('#object_title').val(this.files[0].name);
     $('#object_title').tooltip('show');
     $('#object_title').focus();
     setTimeout(function () {
      $('#object_title').tooltip('hide');
    }, 1000);
    });
  });
 </script>

<%= form_for :object, url: bucket_objects_path, :class => 'form-horizontal' do |f| %>
  <p>
    <%= f.label 'Name', :class => "text-info" %>
    <%= f.text_field :title, {"data-toggle" => "tooltip", "data-animation" => "true",  "data-placement" => "right", "title" => "Custom Object Name if required."} %>
  </p>

  <%= f.file_field :s3object %>
</br>
  <p>
    <%= f.submit 'Upload Object', :class => 'btn btn-primary btn-xs' %>
  </p>
<% end %>

<%= link_to 'Back', bucket_objects_path %>
