<p>
  <strong>Object Name:</strong>
  <%= @object[:objectname] %>
</p>

<p>
  <strong>Bucket Name:</strong>
  <%= @object[:bucketname] %>
</p>

<p>
  <strong>Last-Modified:</strong>
  <%= @object[:lastmodified] %>
</p>

<p>
  <strong>MD5:</strong>
  <%= @object[:md5] %>
</p>

<%= link_to 'Back', bucket_objects_path %>
